html {
    --main-body-bg-color: #263238;
    --main-bg-color: #37474f;
    --main-progress-bar-bg-color: #2a8075;
    --main-bg-transparent-color: transparent ;
    --main-pending-bg-color: black;
    --main-orphan-bg-color: #f08080;
    --main-box-bg-color: #012340;
    --navbar-bg-color: #37474F;
    --navbar-bg-color: #37474F;

    --main-title-color: #cfd8dc;
    --main-color: #cfd8dc;
    --main-link-color: #cfd8dc;
    --main-green-color: #00d100;
    --main-greener-color: #93ff93;
    --main-red-color: red;
    --main-blue-color: blue;
    --main-yellow-color: #cecc4d;
    --main-grey-color: #c0c0c0;
    --main-lightgrey-color: lightgray;
    --main-black-color: black;
    --scaffold-color: #cfd8dc;
    --navbar-color: #cfd8dc;
    --navbar-open-color: #cfd8dc;
    --liq-edit-green: rgb(212, 237, 218);
    --liq-edit-red: #f8d7da;

    --navbar-border-color: #37474f;

    --main-title-font-family: Lato, sans-serif;
    --main-home-blocks-timestamp-font-family: Lato, sans-serif;
    --main-text-font-family: Lato, sans-serif;
    --main-link-font-family: Lato, sans-serif;
    --main-panel-title-font-family: Lato, sans-serif;
}
